<html>
<%= link_to "go to student form", "create_student"%> 
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 20px;
    text-align: left;    
}
</style>
</head>

<body>
  <center>
   <h2>Table records for Books:</h2>
    <table style="width:40%">
      <tr>
        <th>Name</th>
        <th>Stream</th>
        <th>Year</th>
        <th>D.O.B</th>
        <th colspan="2">Action Performed</th>
      </tr>
        <% @studnt.each do |i| %>
      <tr>
        <td><%= i.name%></td>
        <td><%= i.stream%></td>
        <td><%= i.year%></td>
        <td><%= i.date_of_birth%>
        <td> <%= link_to "edit", "student_table"%> / <%= link_to "destroy", "student_table"%>
        <% end%>
      </tr>
    </table>
  </center>
 </body>
</html>